
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  --prime:#fc6f5c;
}
html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: var(--prime);
  text-decoration: none;
}
.b{
  font-weight: 600;
}
.site_col{
  color: var(--prime);
}
.mar_t_5{
  margin-top: 5px;
}
.mar_t_10{
  margin-top: 10px;
}
.mar_b_5{
  margin-bottom: 5px;
}
.mar_b_10{
  margin-bottom: 10px;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.bold {
  color: #4a4e51;
  font-weight: 400;
}

.resume-wrapper {
    position: relative;
    text-align: center;
    display: inline-flex;
}

.container {
  min-height: 600px;
}

.profile {
    background: #3d3e42;
    width: 35%;
    float: left;
    color: #fff;
}
.row_hb{
  width:100%;
  float: left;
} 
.text_align_l{
  text-align: left;
} 
.fnt_size_14{
  font-size: 14px;
}
.fnt_size_18{
  font-size: 18px;
}

.mar_t_25{
  margin-top: 25px;
}
.picture-resume-wrapper {
    width: 100%;
    display: inline-flex;
    gap: 15px;
    align-items: center;
}
.picture-resume{
  width: 40%;
}
.name-wrapper{
   width: 60%;
}
.picture-resume img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--prime);
}
@media (max-width: 850px) {
  .profile {
    width: 100%;
  }
}

.fnt_size_20{
  font-size: 20px;
}
.profile h1 {
  font-size: 2.5em;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  /* color: #4a4e51; */
  text-transform: uppercase;
  line-height: normal;
}
@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 20px;
  }
}
@media (max-width: 450px) {
  .profile h1 {
    font-size: 1.8em;
    padding-top: 20px;
    text-align: center;
  }
}
.profile li {
  margin-bottom: 10px;
}



.projectdtl li{
  margin-bottom: 5px;
}

.company-description ul{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  list-style: disc;
  padding-left: 30px;
}




.profile .contact-info {
  margin-top: 100px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .profile .contact-info {
    margin-top: 70px;
  }
}
@media (max-width: 450px) {
  .profile .contact-info {
    margin-top: 50px;
  }
}
.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;

}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}
.profile .contact-presentation {
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .profile .contact-presentation {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 850px) {
  .profile .contact-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .resume-wrapper{
        flex-wrap: wrap;
  }
  .picture-resume {
    width: 100%;
      margin-top: 50px;
}
.name-wrapper {
    width: 100%;
    text-align: center;
}
  .picture-resume-wrapper {   
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

}
.profile svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.profile .st0, .profile .st1 {
  fill:  var(--prime);
}

.experience {
  background: #fff;
  width: 65%;
  float: left;
  position: relative;
  color: #333;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}
@media (max-width: 850px) {
  .experience {
    width: 100%;
  }
}
.experience h3.experience-title {
  color:  var(--prime);
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}
.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}
.experience .experience-title {
     margin-bottom: 0px;
    font-weight: 600;
}

.section-padding {
  padding: 50px 40px;
}
@media (max-width: 850px) {
  .section-padding {
    padding: 25px;
  }
}
@media (max-width: 450px) {
  .section-padding {
    padding: 15px;
  }
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;  
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .section-wrapper {
    width: 100%;
  }
}
.section-wrapper:nth-child(3) {
  padding-right: 8%;
}
.section-wrapper h3.section-title {
  color:  var(--prime);
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
}
.section-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #ccc;
  display: block;
  margin-top: 3px;
}
.section-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background:  var(--prime);
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.section-wrapper .skill-percentage:nth-child(1)::before {
  width: 80%;
  -webkit-animation: skill_1 0.6s ease;
          animation: skill_1 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(2)::before {
  width: 90%;
  -webkit-animation: skill_2 0.6s ease;
          animation: skill_2 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(3)::before {
  width: 50%;
  -webkit-animation: skill_3 0.6s ease;
          animation: skill_3 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(4)::before {
  width: 60%;
  -webkit-animation: skill_4 0.6s ease;
          animation: skill_4 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(5)::before {
  width: 70%;
  -webkit-animation: skill_5 0.6s ease;
          animation: skill_5 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(6)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
          animation: skill_6 0.6s ease;
}
.section-wrapper .skill-percentage:nth-child(7)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
          animation: skill_6 0.6s ease;
}

@-webkit-keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@-webkit-keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes skill_7 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes skill_7 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}